@import '~static/css/font.less';

.frame-logo {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    .logo-text {
        color: white;
        .fontRegular;
        font-size: 20px;
    }
}

.frame-header {
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .highlight-text {
        color: @primary-color;
    }
    .username {
        padding: 0 20px;
    }
    .user-type,
    .logout {
        padding-right: 20px;
    }
    .logout {
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: @primary-color;
        }
    }
}
